* {
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
}

.fff {
  color: #fff;
}

.fff:hover {
  color: #fff;
}

.fff-50 {
  color: #ffffffa4;
}

.fff-50:hover {
  color: #ffffffa4;
}

.f-color-1 {
  color: #1181B2;
}

.f-bg-color-1 {
  background: #1181B2;
}

.f-color-2 {
  color: #44449B;
}

.f-bg-color-2 {
  background: #44449B;
}

.f-color-3 {
  color: #05F4B7;
}

.f-bg-color-3 {
  background: #05F4B7;
}

.f-black {
  color: #12151F;
}

.f-bg-black {
  background: #12151F;
}

.f-orange {
  color: #fc5d5d;
}

.f-bg-orange {
  background: #fc5d5d;
}

.container-bg {
  background: linear-gradient(47deg, #1182b29c, #44449B9c);
}

p {
  font-size: 15px;
}

.font-2 {
  font-weight: 200;
}

.font-3 {
  font-weight: 300;
}

.font-6 {
  font-weight: 600;
}

.font-8 {
  font-weight: 800;
}

.brand-font {
  font-family: 'Audiowide', cursive;
  font-size: 2.5rem;
}

.font-x {
  font-size: 5rem;
  font-weight: 800;
}

.font-lg {
  font-size: 3.7rem;
  font-weight: 800;
}

.font-sm {
  font-size: 14px;
}

.icon-x {
  font-size: 5rem;
}

.uppercase {
  text-transform: uppercase;
}

.f-btn-1 {
  width: 200px;
  height: 60px;
  border: 3px solid #05F4B7;
  background: none;
  border-radius: 70px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.f-btn-1:hover {
  background: #05F4B7;
  color: #12151F;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: none;
}

.f-btn-2 {
  width: 200px;
  height: 50px;
  border: 3px solid #05F4B7;
  background: none;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.f-btn-2:hover {
  background: #05F4B7;
  color: #12151F;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: none;
}

.f-form-1 {
  width: 100%;
  height: 50px;
  border: none;
  background: #ffffff0a;
  outline: none;
  padding: 20px;
  border-radius: 50px;
}

.zi-1 {
  z-index: 1;
}

.zi-10 {
  z-index: 10;
}

.zi-20 {
  z-index: 20;
}

.zi-30 {
  z-index: 30;
}

.zi-90 {
  z-index: 90;
}

.zi-95 {
  z-index: 95;
}

.zi-100 {
  z-index: 100;
}

.is-sticky {
  background: -webkit-gradient(linear, left top, right top, from(#1182b2de), to(#44449Bde));
  background: linear-gradient(to right, #1182b2de, #44449Bde);
  -webkit-box-shadow: 0 0 6px #1182b2de;
          box-shadow: 0 0 6px #1182b2de;
}

.img-up {
  margin: -100% 0;
}

.nav-padding {
  padding: 1.5rem 0;
}

.space-1 {
  letter-spacing: 1px;
}

.space-2 {
  letter-spacing: 2px;
}

.space-3 {
  letter-spacing: 3px;
}

.space-4 {
  letter-spacing: 4px;
}

.border-right {
  border-right: 7px solid #05F4B7;
}

.border-left {
  border-left: 7px solid #05F4B7;
}

.margin-top {
  margin-top: 2rem;
}

.padding-top {
  padding-top: 6rem;
}

.padding-bottom {
  padding-bottom: 4rem;
}

.page-100 {
  width: 100%;
  height: 100%;
}

.box {
  width: inherit;
  height: inherit;
}

.box-overlay {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  background: #05f4b875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .font-x {
    font-size: 4rem;
  }
  .font-lg {
    font-size: 3rem;
  }
  .margin-top {
    margin-top: 0;
  }
  .margin-top-1 {
    margin-top: 0;
  }
  .disappear {
    display: none;
  }
  .padding-top {
    padding-top: 0;
  }
  .padding-bottom {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .font-x {
    font-size: 3.2rem;
  }
  .font-lg {
    font-size: 2.4rem;
  }
}

@media (max-width: 576px) {
  .font-lg {
    font-size: 2rem;
  }
  .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .f-txt-center {
    text-align: center;
  }
}

@media (max-width: 538px) {
  .font-x {
    font-size: 2.4rem;
  }
}

body {
  background: #12151F;
  position: relative;
}

a {
  text-decoration: none;
}

#menu-icn {
  display: none;
}

.svg {
  position: absolute;
  top: 0;
  z-index: 1;
}

.svg-bottom {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.stucky-navbar {
  position: fixed;
  width: 100%;
}

.img-col-1 {
  display: none;
}

.hero {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  margin-top: 5rem;
}

.about {
  position: relative;
}

.about .img-shape {
  position: absolute;
  left: -5%;
  width: 38%;
}

.services {
  position: relative;
  background: url("../img/blob-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio {
  position: relative;
}

.portfolio .portfolio-container {
  width: 100%;
  height: 27rem;
  overflow: hidden;
  position: relative;
}

.portfolio .portfolio-container:hover {
  cursor: pointer;
}

.blog {
  position: relative;
}

.expertise {
  position: relative;
  background: url("../img/blob-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter, .contact, .copyright {
  position: relative;
  z-index: 10;
}

@media (max-width: 992px) {
  #menu-icn {
    display: block;
  }
  .about .img-shape {
    display: none;
  }
  .img-col-1 {
    display: block;
  }
  .img-col-2 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */